<nav class="navbar navbar-dark bg-danger">
  <a class="navbar-brand" href="#">BIT Bank</a>
  <strong *ngIf="cliente !== ''" class="text-white">{{ cliente }}</strong>
</nav>

<div class="container">
  <div *ngIf="cuentaAbierta !== true; else mostrarCuenta" class="card my-1 p-2">
    <label>Nombre</label>
    <input type="text" class="form-control" [(ngModel)]="cliente" />

    <label>Saldo</label>
    <input type="number" class="form-control" [(ngModel)]="saldo" />

    <div class="text-center">
      <button class="btn btn-success mt-2" (click)="abrirCuenta()">Abrir Cuenta</button>
    </div>
  </div>

  <ng-template #mostrarCuenta>
    <div class="card my-1 p-2 text-center">
      <div class="row">
        <div class="col-12">
          <h2>Saldo</h2>
          <h3 class="text-primary">$ {{ saldo }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <button class="btn btn-success" (click)="consignar()">Consignar</button>
        </div>
        <div class="col-6">
          <button class="btn btn-danger" (click)="retirar()">Retirar</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
